.hilite, .hilite1 {
    background-color: rgba(63, 93, 191, 0.5);
}

.hilite2 {
    background-color: rgba(255, 250, 1, 0.5);
}

.hilite3 {
    background-color: rgba(79, 194, 50, 0.5);
}

.hilite4 {
    background-color: rgba(194, 50, 79, 0.5);
}

.hilite5 {
    background-color: rgba(191, 97, 63, 0.5);
}

.hilite6 {
    background-color: rgba(191, 161, 63, 0.5);
}

.hilite7 {
    background-color: rgba(161, 63, 191, 0.5);
}

.hilite8 {
    background-color: rgba(194, 93, 50, 0.5);
}

.hilite9 {
    background-color: rgba(194, 170, 50, 0.5);
}

.hilite10 {
    background-color: rgba(152, 100, 71, 0.5);
}

.hilite11 {
    background-color: rgba(172, 61, 47, 0.5);
}

.hilite12 {
    background-color: rgba(75, 47, 71, 0.5);
}

.hilite13 {
    background-color: rgba(11, 34, 25, 0.5);
}
